<%- include("templates/head",{titulo:titulo})%>
<div class="container mt-5 mb-5">
    <h1><%= titulo%></h1>
    <div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis nemo quasi in recusandae, minima quidem excepturi nostrum veniam qui alias laboriosam accusamus neque pariatur officiis nobis quaerat nulla totam. Et.
    </div>
    <br>
    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit soluta praesentium culpa ipsa minima? Rerum cumque expedita alias placeat, cupiditate illum! Cumque eaque unde similique error possimus ipsam corrupti voluptas!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, asperiores harum alias quia obcaecati maxime, cumque excepturi dolorem provident sint nihil, magni minima molestiae rem dolores. Aut iusto quas neque.
    </div>
</div>
<%- include("templates/footer")%>